# Node / JS
node_modules/
dist/
build/
.cache/
.vite/
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/

# Env & Secrets
.env
.env.*
!.env.example

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.pid
